**/__pycache__/
*/__pycache__/
**/.DS_Store
*/.DS_Store
.DS_Store
/node_modules
/storage/*.key
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/storage/entireInstanceTagging/
/vendor
/.idea
/.vscode
/.vagrant
/public/baiduOffline/maptile
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.user.ini
/public/.user.ini
/public/*.xlsx
/public/*.sql
/public/*.sql.gz
/public/check/*
/public/pda/MP_verify_D7AzRmSNJgb3qsLi.txt
/public/uploads/*
/public/storage

# 自动化 -> 生成缓存报表
/automation/statistics/.env/
/automation/statistics/.idea
/automation/statistics/test/*
/automation/statistics/all.sh
/automation/statistics/all3.sh
/automation/statistics/tools/db.ini
/automation/statistics/tools/config.ini
/automation/statistics/gitCommit/files/*
/automation/statistics/gitCommit/config.py

/automation/combo-kinds/

# Exel转换
/storage/ExcelToExcel

# 检测台日志
/storage/detector-log-request.json
/storage/detector-log-response.json